@import "vars";
@import "mixin";

.subVisual {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background: {
    repeat: no-repeat;
    size: cover;
    position: 50% 50%;
  }
  .titleBox {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    .subTitle {
      font-size: $font-large;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }
  #lnb {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
    .container {
      display: flex;
      .home {
        display: flex;
        width: 50px;
        height: 50px;
        overflow: hidden;
        text-indent: -999px;
        justify-content: center;
        align-items: center;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        &:before {
          text-indent: 0;
          font-size: 24px;
          color: #fff;
          @include icon("home", 0);
        }
      }
      .menu {
        width: 200px;
        color: #999;
        &:hover {
          ul {
            display: block;
          }
        }
        &:nth-of-type(2) button {
          border-right: 1px solid rgba(255, 255, 255, 0.5);
        }
        button {
          border: none;
          background: none;
          height: 50px;
          padding: 0 20px;
          color: #fff;
          font-size: 16px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          width: 100%;
          text-align: left;
        }
        ul {
          background-color: #fff;
          border: 1px solid #ccc;
          border-top: none;
          display: none;
          li {
            border-top: 1px solid #ccc;
            a {
              display: block;
              padding: 0 20px;
              height: 50px;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}

.h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;

  display: flex;
  &:before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    // prettier-ignore
    background: linear-gradient(180deg, $main-color 0%, $main-color 50%, #ccc 50%, #ccc 100%);
    margin-right: 10px;
  }
}

@for $i from 1 to 6 {
  #subVisual0#{$i} {
    background: url("../images/contents/subVisual0#{$i}.jpg");
  }
}

.tab {
  .tabMenu {
    display: flex;
    li {
      flex-basis: 25%;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-left: none;
      &.active {
        border-color: $main-color;
        a {
          background-color: $main-color;
          color: #fff;
        }
      }
      a {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.tabContents {
  position: relative;
  > li {
    display: none;
    &:nth-child(1) {
      display: block;
    }
    &:target {
      display: block;
    }
    // target에만 접근
    &:not(:target) {
      display: none;
    }
  }
}

.subContents {
  min-height: 100vh;
  .contentsTitle {
    font-size: $font-large - 10px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
    &:after {
      @include pseudo(block, relative, "");
      @include box(40px, 5px, $main-color);
      margin: 30px auto;
    }
  }
  .desc {
    text-align: center;
    margin-top: 50px;
    .headTxt {
      font-size: $font-large;
      line-height: 1.25;
      font-weight: 300;
      margin-bottom: 50px;
      strong {
        font-weight: 500;
        .red {
          color: $main-color;
        }
      }
    }
    .txtBox {
      text-align: justify;
      // 양 끝 맞춤
      p {
        margin-bottom: 50px;
        line-height: 1.5;
        word-break: keep-all;
      }
    }
  }
}

#introduce {
  .summaryBox {
    display: flex;
    .txtBox {
      width: 50%;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: {
        color: $main-color;
        position: right 0 bottom 0;
        repeat: no-repeat;
        image: url("../images/contents/bg_logo.png");
      }
      .main {
        font-size: $font-large;
        font-weight: 700;
        &:after {
          content: "";
          display: block;
          width: 30px;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.5);
          margin: 30px auto;
        }
      }
      .sub {
        line-height: 1.5;
        font-size: 20px;
      }
    }
  }
}

#greeting {
  .container {
    display: flex;
    img {
      align-self: flex-start;
    }
  }
  .desc {
    text-align: left;
    padding-left: 80px;
    margin-top: 0;
    .txtBox {
      text-align: left;
    }
  }
}

#history {
  .historyBox {
    margin: 100px 0;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: #ccc;
    }
    .yearBox {
      display: flex;
      padding: 50px 0;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #fff;
        border: 5px solid rgb(47, 0, 255);
        box-sizing: border-box;
        position: absolute;
        top: 50px;
      }
      &:nth-child(2n) {
        padding-right: 100px;
        text-align: right;
        .inner {
          .monthBox {
            li {
              flex-direction: row-reverse;
              // justify-content: flex-start;
              .month {
                margin-right: 0;
                margin-left: 20px;
              }
            }
          }
          .year {
            &:after {
              right: -62px;
            }
          }
        }
      }
      &:nth-child(2n + 1) {
        justify-content: flex-end;
        padding-left: 100px;
        .year {
          &:after {
            left: -61px;
          }
        }
      }
      .inner {
        width: 50%;
        position: relative;
        // background-color: #666;
        .year {
          font-size: $font-large;
          font-weight: 700;
          margin-bottom: 30px;
          &:after {
            content: "";
            // display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            border: 4px solid $main-color;
            top: 12px;
            border-radius: 100%;
          }
        }
        .monthBox {
          li {
            display: flex;
            margin-bottom: 20px;
            .month {
              font-weight: 700;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

#philosophy {
  span {
    font-size: $font-medium - 10px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  p {
    color: #999;
    line-height: 1.5;
  }
  .headTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    span {
      border: 2px solid $main-color;
      border-radius: 30px;
      padding: 15px 43px;
    }
  }
  .titleImg {
    margin-bottom: 50px;
    .titleTop {
      display: flex;
      // position: relative;
      .titleBox {
        position: absolute;
        // width: 100%;
        border: none;
        color: #fff;
        margin: 44px 50px;
        padding: 30px 30px;
        background: linear-gradient(
          90deg,
          rgba(214, 79, 23, 0.8) 0%,
          rgba(196, 26, 21, 0.8) 100%
        );

        .title {
          display: flex;
          flex-direction: column;
          font-size: $font-large - 10px;
          font-weight: 300;
          line-height: 1.5;
          span {
            font-size: $font-small + 5px;
            font-weight: 400;
            letter-spacing: 0.5em;
          }
          strong {
            font-weight: 500;
          }
          &:after {
            content: "";
            display: block;
            width: 50px;
            height: 0.5px;
            background-color: #fff;
            margin: 20px 0;
          }
        }
        .sub {
          font-weight: 300;
          line-height: 1.3;
        }
      }
    }
  }
  .strategy {
    margin-bottom: 50px;
    .desc {
      ul {
        display: flex;
        position: relative;
        justify-content: center;

        li {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img {
            vertical-align: top;
            width: 150px;
            margin-bottom: 20px;
            // width: 100px;
            // size: cover;
          }
          p {
            &:before {
              content: "";
              display: block;
              width: 10px;
              height: 2px;
              background-color: #999;
              margin: 10px;
            }
          }
        }
      }
    }
  }
  .implement {
    position: relative;
    vertical-align: top;
    .list {
      .txtimgBox {
      }
      margin-top: 30px;
      width: 100%;

      img {
        display: flex;
        // position: relative;
        width: 50%;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
        .desc {
          flex-basis: 50%;

          .title {
            font-size: $font-medium - 5px;
          }
          p {
            margin-top: 20px;
          }
          strong {
            color: $main-color;
          }
        }
      }
    }
  }
}

#location {
  #map {
    height: 500px;
    background-color: #ccc;
    margin-bottom: 50px;
  }
  .tab {
    .tabMenu {
      margin-bottom: 50px;
    }
  }
}

#estimate {
  #news {
    margin-bottom: 100px;
  }
}

.overlay {
  background-color: $main-color;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  @include longShadow(darken($main-color, 10), 30);
  .address {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
  }
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $main-color;
    position: absolute;
    left: calc(50% - 5px);
    bottom: -20px;
  }
}

.marketTable {
  tbody,
  thead {
    th,
    td {
      vertical-align: middle;
      // background-color: #fff;
      padding: 15px 10px;
      border-bottom: 1px solid #ccc;
      border: 1px solid #ccc;
      line-height: 1.5;
    }
  }
  thead {
    background: #f8f8f8;
  }
  tbody {
    tr {
      td {
        color: #666;
      }
    }
  }

  img {
    width: 80%;
    vertical-align: top;
    margin-bottom: 30px;
  }

  .shortcut {
    border: 1px solid $main-color;
    border-radius: 10px;
    padding: 10px 30px;
    color: $main-color;
    transition: all 0.5s;
    &:before {
      @include icon("link", 0);
      margin-right: 5px;
    }
    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}

// .container {
//   display: flex;
//   position: relative;
//   .summaryBox {
//     display: flex;
//     position: absolute;
//   }
//   .txtBox {
//     // border: 1px solid #f00;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     font-size: $font-large;
//     background-color: $main-color;
//     background: url("../images/contents/bg_logo.png") $main-color no-repeat;
//     color: #fff;
//     padding: 0 50px;

//     p {
//       margin-top: 40px;
//       font-size: $font-medium - 5px;
//     }
//   }
// }
