<%- include("include/header"); %>
<div class="bgdark"></div>

<main id="main">
  <div id="contents">
    <h2 class="title"><%= title %></h2>
    <form
      action="/register"
      method="POST"
      id="confirm"
      class="formBox"
      enctype="multipart/form-data"
    >
      <div class="inputBox">
        <label>
          <span class="label">글 제목</span>
          <input
            type="text"
            id="postTitle"
            name="postTitle"
            class="input"
            placeholder="글 제목을 입력하세요 (6자 이상)"
          />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">영화제목</span>
          <input
            type="text"
            id="movieTitle"
            name="movieTitle"
            class="input"
            placeholder="영화 제목을 입력하세요"
          />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">관람일</span>
          <input
            type="text"
            id="date"
            name="date"
            class="input"
            placeholder="관람일을 입력하세요"
          />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">후기 작성</span>
          <textarea
            name="desc"
            class="input"
            id="desc"
            cols="30"
            rows="10"
            placeholder="10자 이상 입력하세요."
          ></textarea>
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">평점</span>
          <input
            type="number"
            max="5"
            min="0"
            step="0.1"
            id="point"
            name="point"
            class="input"
            placeholder="0.0~5.0"
          />
        </label>
      </div>
      <div class="inputBox">
        <label>
          <span class="label">이미지 첨부</span>
          <input type="file" name="image" id="image" class="input" />
        </label>
      </div>
      <div class="btns">
        <button type="submit" data-value="10" id="btnConfirm">작성</button>
        <button type="reset">취소</button>
      </div>
    </form>
  </div>
</main>

<script>
  $("#btnConfirm").on("click", () => {
    if ($("#postTitle").val().trim().length <= 5) {
      $("#postTitle").addClass("error");
      $("#postTitle").focus();
      return false;
    } else if ($("#movieTitle").val().trim().length <= 0) {
      $("#movieTitle").addClass("error");
      $("#movieTitle").focus();
      return false;
    } else if ($("#date").val().trim().length <= 0) {
      $("#date").addClass("error");
      $("#date").focus();
      return false;
    } else if ($("#desc").val().trim().length <= 10) {
      $("#desc").addClass("error");
      $("#desc").focus();
      return false;
    } else if ($("#point").val().trim().length <= 0) {
      $("#point").addClass("error");
      $("#point").focus();
      return false;
    }
  });

  ratings = { RatingScore: 4.5 };
  totalRating = 5;
  table = document.querySelector(".RatingStar");
  function rateIt() {
    for (rating in ratings) {
      ratingPercentage = (ratings[rating] / totalRating) * 100;
      ratingRounded = Math.round(ratingPercentage / 10) * 10 + "%";
      star = table.querySelector(`.${rating} .inner-star`);
      numberRating = table.querySelector(`.${rating} .numberRating`);
      star.style.width = ratingRounded;
      numberRating.innerText = ratings[rating];
    }
  }
  rateIt();
</script>

<%- include("include/footer"); %>
