<%- include("include/header"); %>
<div class="bgdark"></div>

<main id="main">
  <div id="contents">
    <div class="success">
      <h2 class="title"><%= title %></h2>
      <div class="btns">
        <button><a href="/">로그인 하기</a></button>
      </div>
    </div>
  </div>
</main>
<%- include("include/footer"); %>
